.main-body-container{
  background-image: url("/assets/bg.jpg");
  background-size:100% 100%;
  width:100vw;
  height:100vh;
}
.home-content{
  max-width: 1000px ;
  margin:0 auto;
  height: 100vh;
  overflow: auto;
}
.topNav{
  max-width: 1000px;
    width:100%;
    /* padding:5px; */
    min-height:50px;
    background-color: white;
    box-shadow: 1px 1px 10px 0px lightgray;
    position: fixed;
  z-index:99999;
}

.topNav .searchContainer input{
    width:100%;
    padding:5px;
    border:none;
outline:none;
    border-bottom:1px solid var(--grey)
}

.menu-container{
width:100%;
position:fixed !important;
top:0;
left:0;
margin-top: 70px;
z-index:99;
box-shadow: 1px 1px 10px 0px lightgray;

}
.menu-container li{
    list-style-type: none;
    border-bottom:1px solid lightgray;
    border-radius: 2px;
}
.menu-container li *{
    color:var(--darkgrey)
}

.sponsor-image{
  /* width: 100%; */
  height:60px !important;
}

@media (max-width:700px) {
   .topNav {
    width:"100%";
    flex-flow: row wrap;
    gap:10px;
   }
   .topNav > div{
    width: 100%;
    /* margin-top:10px; */
   }
}

.footer{
    min-height:200px;
    /* background: rgb(35, 15, 88); */
padding:10px;
}

.footer *{
    color:rgb(209, 204, 204);
}

.footer {
    background-color: #111;
    color: white;
    padding: 30px 20px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    max-width: 1200px;
    margin: auto;
  }
  
  .footer-left {
    text-align: left;
  }
  
  .footer-right {
    text-align: right;
  }
  
  /* Responsive - Mobile: Stack content */
  @media (max-width: 900px) {
    .footer-container {
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
  
    .footer-left,
    .footer-right {
      text-align: center;
      margin-bottom: 10px;
    }
  }
  

  .quicklinkBtn{
    background:var(--blue) !important;
    width:100%;


  }
  .quicklinkBtn:hover{
    background: rgb(42, 50, 65) !important;
  }
  .quicklinkBtn *{
    color:white;
    font-weight: bolder;
  }