.match-card {
  position: relative;
  width:100%;
  height: 212px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content:center;
}

.score-section {
  display: flex;
  flex-direction: row;
  gap:30px;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5); /* optional: darker overlay */
  padding: 10px;
  border-radius: 20px !important;
  margin-left: 10px;
}

.team-logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin: 5px 0;
}

.score {
  font-size: 40px;
  color: white;
  font-weight: bold;
}

.player-image {
  height: 100%;
  object-fit: cover;
}
