.sponsor-slider-wrapper {
  width: 400px;
max-width:90vw !important;
  overflow: hidden;
  margin: 0 auto;
}
@media (max-width:900px) {
 
.box-shadow{
  max-width: 87vw !important;
  margin:0 auto;
} 
}
.sponsor-slider-inner {
  display: flex;
  flex-direction: column;
  transition: transform 1s ease;
}

.sponsor-slide {
  height: 120px; /* same as wrapper */
  width: 96%;
  margin:0 auto;
  margin-top: 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px 0px lightblue;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
}

.sponsor-slide a {
  display: block;
  width: 100%;
  height: 100%;
}
