.loginContainer{
    width:100vw;
    min-height: 100vh;
   background-color:rgb(16, 3, 3);
   background-image:url('@/assets/stadium-hero.jpg');
   background-size:cover;
   position: fixed;
   display:flex;
   align-items: center;
   justify-content: center;
   left:0;
   top:0;
}
.loginContainer .Wrapper{
    width:100%;
    min-height: 100vh;
    /* background:rgb(245, 241, 241); */
   display:flex;
   align-items: center;
   justify-content: center;

    height:100%;
}
.loginContainer .form{
    box-shadow:1px 1px 30px 0px rgb(221, 226, 231);
    border-radius: 5px;
    background:rgb(255, 255, 255);
    min-height: 500px;
    max-width: 400px;
    padding:20px;
}