.loginContainer{
    width:100vw;
    min-height: 100vh;
   background-color: red;
   background-size:cover;
   position: fixed;
   left:0;
   top:0;
   background-image:url('https://floy.spoortz.no/kx/_layout/theme/SMARTADMIN/login-background.jpg')
}
.loginContainer .Wrapper{
    width:100%;
    min-height: 100vh;
    /* background:rgb(245, 241, 241); */

    height:100%;
}
.loginContainer .form{
    box-shadow:1px 1px 30px 0px rgb(221, 226, 231);
    border-radius: 5px;
    background:rgb(255, 255, 255);
    min-height: 500px;
    max-width: 400px;
    width:95%;
    padding:20px;
}