.profile-pic-container {
    position: relative;
    display: inline-block;
  }
  
  .profile-pic-label {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .upload-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: white;
    border-radius: 50%;
    padding: 5px;
  }
  