.menu-btn {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 12;
  width:50px;
  border-radius: 25px;
  height:50px;
  padding:0;
  display:flex;
  align-items:center;
  justify-content: center;
}

.side-menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  background: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
  z-index: 999;
}

.side-menu.open {
  left: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
  cursor: pointer;
}
