.club-shop {
    padding: 20px;
    text-align: center;
  }
  
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    max-width:47%;
    text-align: left;
  }
  
  .product-card img {
    width: 100%;
    /* height: auto; */
    border-radius: 2px;
    object-fit:cover;
  }
  
  .product-card h2 {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .product-card p {
    font-size: 14px;
    margin: 5px 0;
  }
  
  .original-price {
    text-decoration: line-through;
    color: red;
  }
  
  .discounted-price {
    font-weight: bold;
    color: green;
  }
  
  .product-card button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  /* ::contentReference[oaicite:0]{index=0} */
   
  